* {
    margin: 0;
    padding: 0;
}

a:visited{
    
}

li {
    list-style: none;
}

ol>li {
    padding: 10px;
}

div h1 {
    padding-bottom: 15px;
}

header {
    padding: 20px;
    margin-top: 90px;
    background: #18BC9C;
    text-align: center;
}

div div{
    padding: 20px;
    border-bottom: 1px solid;
}

header, #portfolio {
    border-bottom: 1px solid;
}

nav {
    width: 100%;
    height: 90px;
    background: #2C3E50;
    color: #fff;
    overflow: hidden;
    /* padding: 20px; */
    position: fixed;
    top: 0;
}

nav h1 {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
}

nav ul {
    float: right;
    margin-right: 35px;
    margin-top: 35px;
}

nav ul li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

#myPhoto {
    height: 250px;
    width: 250px;
    border-radius:  50%;
    padding-bottom: 15px;
}

#content {
    text-align: center;
    
}

#Web {
    background: #18BC9C;
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
    background: #2C3E50;
    color: #fff;
    padding: 30px;
}

footer a{
    text-decoration: none;
    color: #fff;
}